@import url("https://fonts.googleapis.com/css?family=Poppins:wgth@300;400;500;600,700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    padding-top: 20vh; 
    overflow-x: hidden;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10vh 19vh; 
    display: flex;
    justify-content: space-between;
    z-index: 99;
    background: #4b7574;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.6vh 7vh;
    display: flex;
    justify-content: space-between;
    z-index: 99;

}

.logo {
    font-family: libre baskerville;
    font-size: 2.3em;
    color: #fff;
    user-select: none;
}

.privacy-policy-text {
    background: #4b7574;
    color: #fff;
    border-radius: 20px;
    border: 7px solid #3a5a5a;
    position: absolute;
    width: 196vh;
    height: 315vh;
    max-width: 196vh;
    max-height: 315vh;
    min-height: 315vh;
    min-width: 196vh;
    padding: 10px;
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 30px;
    overflow-y: auto;
    word-wrap: normal;
}

.privacy-policy h1 {
    font-size: 2.5em;
}

.privacy-policy p1 {
    font-style: italic;
    font-size: 1em;
}

.privacy-policy h2 {
    margin-top: 50px;
    font-size: 1.8em;
}

.privacy-policy p2 {
    font-size: 1.3em;
    text-align: justify; 
}

.footer-box { 
    background: #4b7574;
    color: #000000;
    padding: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 10vh;
    border: 1px solid black;
    width: 250vh;
    max-width: 250vh;
    min-width: 250vh;
    max-height: 10vh;
    min-height: 10vh; 
    position: absolute; 
    margin-left: 0vh;
    top: 345vh;
    left: 0; 
    font-size: 22.5px;
    z-index: 10; 
} 

.footer-box-img {
    width: 50px; 
    height: 50px; 
    object-fit: contain; 
    margin-left: -190vh;
    position: relative;
}

.footer-box-text { 
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vh;
    margin-left: 2vh;
    margin-top: 1vh;
    color: #fff;
    font-size: 0.5em;
    font-weight: 10;
    white-space: nowrap;
    font-family: Arial, sans-serif;
}